<div class="bg-black text-black h-3"></div>
<div class="container box-brown  m-0">
  <header class="flex justify-around">
    <div class="relative mb-2 sevillana-title text-center text-brown text-opacity-100">Pelle Eterno</div>
    <div>
    <img src="/public/Photo/logo.png" alt="logo" class=" h-20 ml-auto "></div>
    </header>
  </div>
  <!-- <div class="bg-black text-black h-2"> hello</div>
  <div class="container box-brown opacity-70 m-0">
    <header class="flex justify-between items-center">
      <div class=" relative sevillana-title text-center mx-auto">Pelle Eterno</div>
      <img src="/public/Photo/PELLEETERNOTT.jpg" alt="logo" class=" relative h-12 ml-auto">
    </header>
  </div>
   -->