<div class="bg-black text-black h-3 w-full"></div>
<div class=" box-brown  m-0  ">
  <header class="flex justify-around w-full">
    <div class="relative mb-2 sevillana-title text-center text-brown text-opacity-100">Pelle Eterno</div>
    <div>
    <img src="https://res.cloudinary.com/dihyb66hn/image/upload/v1725854174/products/caehmjvrf6qftxa9la9f.jpg" alt="logo" class=" h-20 w-20 ml-auto "></div>
    </header>
  </div>
 