
<!-- <div class="box-dash">
    <br>
    <br>
    <div class="p-4"><ul class="text-brown"><a href="#"><i class="fas fa-chart-pie" style="color: #421a05;"></i>DashBoard</a></ul></div>
    <div class="p-4"><ul class="text-brown"><a href="/admin/product"><i class="fa-solid fa-list" style="color: #421a05;"></i> Products</a></ul></div>
    <div class="p-4"><ul class="text-brown"><a href="#"><i class="fa-solid fa-users" style="color: #421a05;"></i> Customers</a></ul></div>
    <div class="p-4"><ul class="text-brown"><a href="#"><i class="fa-solid fa-box-open" style="color: #421a05;"></i> Orders</a></ul></div>
    <div class="p-4"><ul class="text-brown"><a href="#"><i class="fa-solid fa-ticket" style="color: #421a05;"></i> Coupons</a></ul></div>
    <div class="p-4"><ul class="text-brown"><a href="#"><i class="fa-solid fa-images" style="color: #421a05;"></i> Banner</a></ul></div>
    <div class="p-4"><ul class="text-brown"><a href="#"><i class="fa-solid fa-envelope" style="color: #421a05;"></i> Offers</a></ul></div>
    <div class="p-4"><ul class="text-brown"><a href="/admin/category"><i class="fa-solid fa-layer-group" style="color: #421a05;"></i> Category</a></ul></div>
    <div class="p-4"><ul class="text-brown"><a href="#"><i class="fa-solid fa-right-from-bracket" style="color: #421a05;"></i> Logout</a></ul></div>
</div> -->

<div class="box-dash">
    <br>
    <br>
    <div class="p-4">
        <ul class="text-brown">
            <a href="#" class="flex items-center">
                <i class="fas fa-chart-pie" style="color: #421a05;"></i>
                <span class="ml-2">Dashboard</span>
            </a>
        </ul>
    </div>
    <div class="p-4">
        <ul class="text-brown">
            <a href="/admin/product" class="flex items-center">
                <i class="fa-solid fa-list" style="color: #421a05;"></i>
                <span class="ml-2">Products</span>
            </a>
        </ul>
    </div>
    <div class="p-4">
        <ul class="text-brown">
            <a href="/admin/user" class="flex items-center">
                <i class="fa-solid fa-users" style="color: #421a05;"></i>
                <span class="ml-2">Customers</span>
            </a>
        </ul>
    </div>
    <div class="p-4">
        <ul class="text-brown">
            <a href="/admin/order" class="flex items-center">
                <i class="fa-solid fa-box-open" style="color: #421a05;"></i>
                <span class="ml-2">Orders</span>
            </a>
        </ul>
    </div>
    <div class="p-4">
        <ul class="text-brown">
            <a href="#" class="flex items-center">
                <i class="fa-solid fa-ticket" style="color: #421a05;"></i>
                <span class="ml-2">Coupons</span>
            </a>
        </ul>
    </div>
    <div class="p-4">
        <ul class="text-brown">
            <a href="#" class="flex items-center">
                <i class="fa-solid fa-images" style="color: #421a05;"></i>
                <span class="ml-2">Banner</span>
            </a>
        </ul>
    </div>
    <div class="p-4">
        <ul class="text-brown">
            <a href="#" class="flex items-center">
                <i class="fa-solid fa-envelope" style="color: #421a05;"></i>
                <span class="ml-2">Offers</span>
            </a>
        </ul>
    </div>
    <div class="p-4">
        <ul class="text-brown">
            <a href="/admin/category" class="flex items-center">
                <i class="fa-solid fa-layer-group" style="color: #421a05;"></i>
                <span class="ml-2">Category</span>
            </a>
        </ul>
    </div>
    <div class="p-4">
        <ul class="text-brown">
            <a href="/admin/logout" class="flex items-center">
                <i class="fa-solid fa-right-from-bracket" style="color: #421a05;"></i>
                <span class="ml-2">Logout</span>
            </a>
        </ul>
    </div>
</div>
