<footer>
  <div class="container box-foot m-0 text-yellow-500"> 
    
    <div class="flex justify-center">
        <div>
            <br>
            <div class="relative mb-2 sevillana-title text-yellow-500">Pelle Eterno</div><h4>
            <ul class="text-yellow-500">We make premium hand-crafted genuine </ul>
            <ul class="text-yellow-500">leather wallets which you can customize </ul>
            <ul class="text-yellow-500">according to your preference</ul></h4>
            <br>
        </div>
        <div>
            
        </div>
        <div>
            <br>
            <br>
            <h3 class="text-yellow-500"> Get in Touch</h3>
            <br>
            <li class="text-yellow-500">Via Prenestina 435,Roma, Lazio</li>
            <li class="text-yellow-500">+349 9000500099,+349 7000500055</li>
            <li class="text-yellow-500">leathereternal@gmail.com hello@pelleeterno.com </li>
            <br>
        </div>
    </div>
   </div>
</footer>