<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Sevillana&display=swap" rel="stylesheet">
    <style>
        /* Inline styles for the background image */
        body {
            background-image: url('/Photo/bglogin.png');
            background-size: cover;
            background-position: center;
        }
        .text-brown {
            color: #450706; /* Brown color */
        }
         .sevillana-title {
            font-family: 'Sevillana', cursive;
            font-size: 2.5em;
            color: #9a2121db;
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>

<body class="bg-center min-h-screen bg-cover flex flex-col justify-center items-center">

<div class="absolute inset-0 bg-white opacity-40"></div>

<div class="relative mb-2 sevillana-title text-center">Pelle Eterno</div>
    
        <div class="relative bg-white bg-opacity-50 p-8 rounded-lg shadow-lg w-full max-w-sm">
            <form id="form" action="/user/renewpassword" method="post">
    
                <div id="error" class="text-danger"></div>
                <input type="hidden" name="email" value="<%= user %>" >
                
                <div class="mb-6">
                    <label class="block font-bold mb-2">New Password</label>
                    <input type="password" id="password" name="password" required class="w-full px-4 py-2 rounded-lg border focus:outline-none focus:ring-2 focus:ring-blue-500">
                </div>
    
             
                <!-- Password Field -->
                <div class="mb-6">
                    <label class="block font-bold mb-2">Confirm Password</label>
                    <input type="password" id="confirmpassword" name="confirmpassword" required class="w-full px-4 py-2 rounded-lg border focus:outline-none focus:ring-2 focus:ring-blue-500">
                </div>
    
                <!-- Submit Button -->
                <button type="submit" class="w-full bg-black text-white font-bold py-2 px-4 rounded-lg">Submit</button>
            </form>
        </div>

    <script>
            const password = document.getElementById('password');
            const confirmpassword = document.getElementById('confirmpassword');
            const form = document.getElementById('form');
            const errorElement = document.getElementById('error');
          
            form.addEventListener('submit', (e) => {
        
              let messages = [];
            if(password.value !== confirmpassword.value){
                messages.push('passwords should be same')
            }else 
            if (password.value === '' || password.value == null || password.value === "password") {
                messages.push("Enter a valid password");
            } else if (password.value.length < 8 || password.value.length > 15) {
                messages.push('Password must be between 8 and 15 characters');
            }else if(!password.value.match(/^[A-Za-z0-9*#@%]{8,16}$/)){
               messages.push('Valid Password is required')
            }

              if(messages.length>0){
                e.preventDefault(); // Prevent form submission
                errorElement.innerText = messages
               }
        });
    </script>
     
    
</body>
</html>
