<div class="flex justify-center space-x-8 m-3 mb-5 ">
     <img src="<%= productgreen.productImages[2] %>" alt="green1" class="w-40 h-40 m-2 object-cover">
     <img src="<%= productgreen.productImages[1] %>" alt="green2" class="w-40 h-40 m-2 object-cover">
     <img src="<%= productgreen.productImages[0] %>" alt="green3" class="w-40 h-40 m-2 object-cover">

</div>
