

<!-- <div class="flex justify-center mb-2">
<div class="bg-red-100 h-auto w-2/4  rounded-lg mx-auto my-5 p-5 flex justify-between items-center">
    <div class="flex flex-col justify-center text-left space-y-3 pb-5">
        <p class="text-gray-500 font-medium mt-5 px-5 py-2">Timeless Brilliance <br></p>
       <p class="font-bold font-serif text-lg">A glowup comparison,<br> as our crafted wallets <br>age meticulously...</p>
       <br>
       <p class="text-sm font-light">Explore the enchanting evolution of our meticulously<br>
         crafted wallets as they age gracefully, <br>
         transforming into beacons of enduring brilliance.</p>
    </div>
    <div class="flex px-5 py-2">
       <img src="<%= productcase.productImages[4] %>" alt="lot1" class="w-28 h-28 object-cover">
       <img src="<%= productcase.productImages[3] %>" alt="lot2" class="w-28 h-28 object-cover">
    </div>
 </div>
 </div>
  -->


  <div class="flex justify-center mb-2">
   <div class="bg-red-100 h-auto w-full sm:w-3/4 lg:w-2/4 rounded-lg mx-auto my-5 p-5 flex flex-col lg:flex-row justify-between items-center">
       <!-- Text Section -->
       <div class="flex flex-col justify-center text-left space-y-3 pb-5 lg:pb-0 lg:w-2/3">
           <p class="text-gray-500 text-center font-medium mt-5 px-5 py-2">Timeless Brilliance</p>
           <p class="font-bold font-serif text-lg leading-snug">A glowup comparison, as our crafted wallets <br>age meticulously...</p>
           <p class="text-sm font-light leading-relaxed">Explore the enchanting evolution of our meticulously crafted wallets as they age gracefully, transforming into beacons of enduring brilliance.</p>
       </div>
       
       <!-- Image Section -->
       <div class="flex space-x-2 px-5 py-2 lg:w-2/3">
           <img src="<%= productcase.productImages[4] %>" alt="lot1" class="w-28 h-28 object-cover rounded-lg">
           <img src="<%= productcase.productImages[3] %>" alt="lot2" class="w-28 h-28 object-cover rounded-lg">
       </div>
   </div>
</div>
