<nav aria-label="breadcrumb">
    <ol class="flex flex-wrap p-4 bg-gray-100 rounded-md shadow-md">
      <li class="flex items-center">
        <a href="/user/home" class="text-blue-500 hover:text-blue-700 mx-2">Home </a>
        <!-- <svg class="w-4 h-4 mx-2 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"> -->
          <!-- <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 4l4 4-4 4m12-4H4"></path> -->
        <!-- </svg> -->
        <i class="fa-solid fa-greater-than"></i>
      </li>
      <li class="flex items-center">
        <a href="/user/allproducts" class="text-blue-500 hover:text-blue-700 mx-2"> All Products </a>
       <!-- <i class="fa-solid fa-greater-than"></i> -->
      </li>
      <!-- <li class="flex items-center">
        <span class="text-gray-600 mx-2">Product Name</span>
      </li> -->
    </ol>
  </nav>


 
  <style>
@media (max-width: 768px) {
  .breadcrumb {
    padding: 2rem;
    font-size: 0.875rem;
  }

  .breadcrumb-item {
    margin-right: 0.5rem;
  }

  .breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    margin: 0 0.5rem;
    color: #adb5bd;
  }
}
</style>
