<!-- <footer>
    <div>
  <div class="container bg-black m-0 justify-normal text-yellow-600"> 
    
    <div class="flex justify-center">
        <div>
            <br>
            <div class="relative mb-2 sevillana-title text-yellow-600">Pelle Eterno</div><h4>
            <ul class="text-yellow-600">We make premium hand-crafted genuine </ul>
            <ul class="text-yellow-600">leather wallets which you can customize </ul>
            <ul class="text-yellow-600">according to your preference</ul></h4>
            <br>
        </div>
        <div>
            <br>
            <br>
            <h3 class="text-yellow-600 text-lg"> Get in Touch</h3>
            <br>
            <li class="text-yellow-600 text-sm">Via Prenestina 435,Roma, Lazio</li>
            <li class="text-yellow-600 text-sm">+349 9000500099,+349 7000500055</li>
            <li class="text-yellow-600 text-sm">leathereternal@gmail.com hello@pelleeterno.com </li>
            <br>
        </div>
    </div>
   </div>
   <div>
</footer> -->


<footer class="font-sans tracking-wide bg-black py-2 px-12">
    <div class="flex justify-center space-x-8 mx-10">
        <div>
            <div class="relative mb-2 sevillana-title text-yellow-600">Pelle Eterno</div><h4>
            <ul class="text-yellow-600 text-[15px]">We make premium hand-crafted genuine </ul>
            <ul class="text-yellow-600 text-[15px]">leather wallets which you can customize </ul>
            <ul class="text-yellow-600 text-[15px]">according to your preference</ul></h4>
            <br>
        </div>
      <div>
        <br>
        <h4 class="text-yellow-600 text-lg  mb-6">Company</h4>
        <ul class="space-y-5">
          <li><a href="#" class="text-yellow-600 hover:text-yellow-400 text-[15px]">About Us</a></li>
          <li><a href="#" class=" text-yellow-600 hover:text-yellow-400 text-[15px]">Terms and Service</a></li>
          <li><a href="#" class="text-yellow-600 hover:text-yellow-400 text-[15px]">Privacy Policy</a></li>
        </ul>
      </div>

      <div>
        <br>
        <h4 class="text-yellow-600 text-lg mb-6">Quick Links</h4>
        <ul class="space-y-5">
          <li><a href="#" class="text-yellow-600 hover:text-yellow-400 text-[15px]">Shop</a></li>
          <li><a href="#" class=" text-yellow-600 hover:text-yellow-400 text-[15px]">My Account</a></li>
          <li><a href="#" class="text-yellow-600 hover:text-yellow-400 text-[15px]">Cart</a></li>
        </ul>
      </div>

      <div>
        <br>
        <h3 class="text-yellow-600 text-lg"> Get in Touch</h3>
        <br>
        <li class="text-yellow-600 text-sm">Via Prenestina 435,Roma, Lazio</li>
        <li class="text-yellow-600 text-sm">+349 9000500099,+349 7000500055</li>
        <li class="text-yellow-600 text-sm">leathereternal09@gmail.com, hello@pelleeterno.com </li>
        <br>
    </div>
</div>
  
    <p class='text-gray-600 text-right text-[15px] mt-8'>©2024. Pelle Eterno. All Rights Reserved.</p>
  </footer>