<div class="box-dash">
    <br>
    <br>
    <div class="p-4">
        <ul class="text-brown">
            <a href="#" class="flex items-center">
                <i class="fa-regular fa-user"></i>
                <span class="ml-2 text-2xl">My Account</span>
            </a>
        </ul>
    </div>
    <div class="p-4">
        <ul class="text-brown">
            <a href="/admin/product" class="flex items-center">
                <i class="fa-solid fa-id-card" style="color: #421a05;"></i>
                <span class="ml-2">Personal Info</span>
            </a>
        </ul>
    </div>
    <div class="p-4">
        <ul class="text-brown">
            <a href="/admin/user" class="flex items-center">
                <i class="fa-solid fa-location-dot" style="color: #421a05;"></i>
                <span class="ml-2">Address</span>
            </a>
        </ul>
    </div>
    <div class="p-4">
        <ul class="text-brown">
            <a href="#" class="flex items-center">
              
                <i class="fa-solid fa-pen-to-square" style="color: #421a05;"></i>
                <span class="ml-2">Change Password</span>
            </a>
        </ul>
    </div>
    <div class="p-4">
        <ul class="text-brown">
            <a href="#" class="flex items-center">
                <i class="fa-solid fa-ticket" style="color: #421a05;"></i>
                <span class="ml-2">Coupons</span>
            </a>
        </ul>
    </div>
    <div class="p-4">
        <ul class="text-brown">
            <a href="#" class="flex items-center">
               
                <i class="fa-solid fa-wallet" style="color: #421a05;"></i>
                <span class="ml-2">My Wallet</span>
            </a>
        </ul>
    </div>
    <div class="p-4">
        <ul class="text-brown">
            <a href="#" class="flex items-center">
               
                <i class="fa-solid fa-box" style="color: #421a05;"></i>
                <span class="ml-2">My Orders</span>
            </a>
        </ul>
    </div>
    <div class="p-4">
        <ul class="text-brown">
            <a href="/admin/category" class="flex items-center">
             
                <i class="fa-regular fa-heart" style="color: #421a05;"></i>
                <span class="ml-2">WishList</span>
            </a>
        </ul>
    </div>
    <div class="p-4">
        <ul class="text-brown">
            <a href="/admin/logout" class="flex items-center">
                <i class="fa-solid fa-right-from-bracket" style="color: #421a05;"></i>
                <span class="ml-2">Logout</span>
            </a>
        </ul>
    </div>

