

  <footer class="font-sans tracking-wide bg-black py-4 px-6 md:px-12">
    <div class="flex flex-col md:flex-row justify-center space-y-6 md:space-y-0 md:space-x-8 mx-4 md:mx-10">
        <div class="text-center md:text-left">
            <div class="relative mb-2 sevillana-title text-yellow-600 text-xl md:text-2xl">Pelle Eterno</div>
            <h4>
                <ul class="text-yellow-600 text-sm md:text-base">
                    <li>We make premium hand-crafted genuine</li>
                    <li>leather wallets which you can customize</li>
                    <li>according to your preference</li>
                </ul>
            </h4>
        </div>
        
        <div class="text-center md:text-left">
            <h4 class="text-yellow-600 text-lg mb-4">Company</h4>
            <ul class="space-y-3">
                <li><a href="#" class="text-yellow-600 hover:text-yellow-400 text-sm">About Us</a></li>
                <li><a href="#" class="text-yellow-600 hover:text-yellow-400 text-sm">Terms and Service</a></li>
                <li><a href="#" class="text-yellow-600 hover:text-yellow-400 text-sm">Privacy Policy</a></li>
            </ul>
        </div>

        <div class="text-center md:text-left">
            <h4 class="text-yellow-600 text-lg mb-4">Quick Links</h4>
            <ul class="space-y-3">
                <li><a href="#" class="text-yellow-600 hover:text-yellow-400 text-sm">Shop</a></li>
                <li><a href="#" class="text-yellow-600 hover:text-yellow-400 text-sm">My Account</a></li>
                <li><a href="#" class="text-yellow-600 hover:text-yellow-400 text-sm">Cart</a></li>
            </ul>
        </div>

        <div class="text-center md:text-left">
            <h3 class="text-yellow-600 text-lg mb-4">Get in Touch</h3>
            <ul class="space-y-2 text-sm text-yellow-600">
                <li>Via Prenestina 435, Roma, Lazio</li>
                <li>+349 9000500099, +349 7000500055</li>
                <li>leathereternal09@gmail.com, hello@pelleeterno.com</li>
            </ul>
        </div>
    </div>
  
    <p class='text-gray-600 text-center text-[15px] mt-6 md:mt-8'>©2024. Pelle Eterno. All Rights Reserved.</p>
</footer>
