<div class="relative w-full mt-0 bg-green-400">
    <img src="https://res.cloudinary.com/dihyb66hn/image/upload/v1725970215/products/qfa2wprfq1l3ge5jfqms.jpg" alt="Banner" class="w-full h-72 object-cover rounded-lg">
    <!-- Overlay container -->
    <div class="absolute inset-0 flex items-center">
      <div class="text-black p-5 rounded-lg w-1/2 font-serif mx-20">
        <p>
          Best Quality Leather Products <br>
          <b>Handcrafted Leather Made For You!</b><br>
          We make genuine leather wallets that can last a lifetime.
        </p>
      </div>
    </div>
  </div>