<!-- <h1 class="text-center font-serif font-semibold mt-3">COLLECTIONS</h1>
<div class="flex justify-center space-x-48 m-5 ">
     <div class="relative w-64 h-20">
         <a href="">
             <img src="https://res.cloudinary.com/dihyb66hn/image/upload/v1726019140/i1iqygzt2bheu7w18tyo.png" alt="women" class="w-full h-full object-cover opacity-40">
         </a>
         <h3 class="absolute inset-0 flex justify-center items-center text-black font-black">For Her</h3>
     </div>
     <div class="relative w-64 h-20">
         <a href="">
             <img src="https://res.cloudinary.com/dihyb66hn/image/upload/v1726019084/bmdfnew75ec2c1apmyk4.png" alt="women" class="w-full h-full object-cover opacity-40">
         </a>
         <h3 class="absolute inset-0 flex justify-center items-center text-black font-black">For Him</h3>
     </div>
 </div>
 
 <div class="flex justify-center m-5">
     <div class=" relative w-80 h-20">
         <a href="">
             <img src="https://res.cloudinary.com/dihyb66hn/image/upload/v1726026189/d9ene7jdmgzk7d4nrgeh.jpg" alt="unisex" class="w-full h-full object-cover opacity-40">
         </a>
         <h3 class="absolute inset-0 flex justify-center items-center text-black font-black">Unisex</h3>
     </div>
     </div> -->


     
     <h1 class="text-center font-serif font-semibold mt-3">COLLECTIONS</h1>

     <!-- For Her and For Him Section -->
     <div class="flex flex-wrap justify-center space-x-0 sm:space-x-16 lg:space-x-48 m-5 gap-y-5">
         <!-- For Her -->
         <div class="relative w-64 h-20">
             <a href="#">
                 <img src="https://res.cloudinary.com/dihyb66hn/image/upload/v1726019140/i1iqygzt2bheu7w18tyo.png" alt="women" class="w-full h-full object-cover opacity-40">
             </a>
             <h3 class="absolute inset-0 flex justify-center items-center text-black font-black">For Her</h3>
         </div>
     
         <!-- For Him -->
         <div class="relative w-64 h-20">
             <a href="#">
                 <img src="https://res.cloudinary.com/dihyb66hn/image/upload/v1726019084/bmdfnew75ec2c1apmyk4.png" alt="women" class="w-full h-full object-cover opacity-40">
             </a>
             <h3 class="absolute inset-0 flex justify-center items-center text-black font-black">For Him</h3>
         </div>
     </div>
     
     <!-- Unisex Section -->
     <div class="flex justify-center m-5">
         <div class="relative w-64 h-20">
             <a href="#">
                 <img src="https://res.cloudinary.com/dihyb66hn/image/upload/v1726026189/d9ene7jdmgzk7d4nrgeh.jpg" alt="unisex" class="w-full h-full object-cover opacity-40">
             </a>
             <h3 class="absolute inset-0 flex justify-center items-center text-black font-black">Unisex</h3>
         </div>
     </div>
     